<div class="jumbotron">
    <p>
        O dotnetFloripa é uma comunidade de desenvolvedores em Florianópolis com o objetivo de aprender, divulgar e trocar experiências sobre tecnologia em geral.
    </p>
    <p>
        Realizamos eventos focados no desenvolvimento de software e aplicações .NET com palestrantes experientes e renomados do mercado.
    </p>
</div>