@section seo {
    <meta name="description" content="O dotnetFloripa é uma comunidade de desenvolvedores de Florianópolis com o objetivo de aprender e trocar experiências sobre tecnologias em geral.">
}
@section facebook{
    <meta property="og:title" content="dotnet Floripa" />
    <meta property="og:description" content="Grupo de usuários .net de Florianópolis" />
    <meta property="og:image" content="https://i.imgur.com/TenXCml.png" />
}
<div class="jumbotron">
    <p>
        O dotnetFloripa é uma comunidade de desenvolvedores de Florianópolis com o objetivo de aprender e trocar experiências sobre tecnologias em geral.
    </p>
    <p>
        Realizamos eventos focados no desenvolvimento de software e aplicações .NET com palestrantes experientes e renomados do mercado.
    </p>
</div>