@section facebook{
    <meta property="og:title" content="dotnet Floripa" />
    <meta property="og:description" content="Grupo de usuários .net de Florianópolis" />
    <meta property="og:image" content="https://i.imgur.com/Flihd3A.png" />
}
<div class="jumbotron">
    <img src="~/Content/images/logo-medio.png" alt="logo" class="img-responsive" style="margin:0 auto;" />
    <h1>grupo de usuários .net @@ Florianópolis</h1>
</div>