@section seo {
    <meta name="description" content="Vagas .NET em Florianópolis">
}
@section facebook{
    <meta property="og:title" content="Vagas .NET em Florianópolis" />
    <meta property="og:description" content="Confira as vagas abertas para trabalhar com .NET em Floripa!" />
    <meta property="og:image" content="https://i.imgur.com/TenXCml.png" />
}
<div class="jumbotron">
    Jobs
</div>