@section facebook{
    <meta property="og:title" content="Vagas .NET em Florianópolis" />
    <meta property="og:description" content="Confira as vagas abertas para trabalhar com .NET em Floripa!" />
    <meta property="og:image" content="~/Content/images/logo-pequeno.png" />
}
<div class="jumbotron">
    Jobs
</div>